---
// Import components
import Logo from './Logo.astro';
---

<!-- Header Component -->
<header class="row-span-1 col-span-1 w-full">
  <div class="flex justify-between items-center p-6">
    <!-- Logo Component with a desired height of 100 -->
    <Logo />

    <!-- Navigation Component with navigation links passed as props -->
  </div>
</header>

