---
// Main.astro
---

<main  class="col-span-2 overflow-auto shadow-xl rounded-3xl bg-hippie-blue-50 peer-focus:opacity-0 peer-focus:h-0 peer-focus:p-0 transition-opacity duration-500 no-scrollbar peer">
  <slot />
</main>
