---
// Main.astro
---

<main
  class="col-span-2 overflow-auto shadow-xl rounded-3xl bg-hippie-blue-50 no-scrollbar transition-all duration-300 ease-in-out"
  :class="showNav ? 'max-h-0 opacity-0 overflow-hidden' : 'max-h-screen opacity-100'"
>

  <slot />
</main>
