---
// Main.astro
---

<main
  class="col-span-2 overflow-scroll shadow-xl rounded-3xl bg-hippie-blue-50 no-scrollbar"
  x-show="!showNav"
  x-transition.opacity
  x-ref="mainContainer"

>
  <slot />
</main>
