---
// Define the type for NavLink
type NavLink = {
  text: string;
  href: string;
};

// Retrieve `navLinks` from props
const navLinks: NavLink[] = Astro.props.navLinks;
---
<nav class="col-span-2 bg-transparent overflow-auto shadow-xl rounded-3xl scale-0 opacity-0 p-0 peer-focus:scale-100 peer-focus:opacity-100 peer-focus:px-10 peer-focus:block transition-opacity duration-1000 bg-hippie-blue">
  <ul class="flex grow-1 flex-col h-full w-full justify-center content-center gap-0 font-display">
    {
      navLinks.map((link) => (
        <li class="text-center uppercase p-4 text-4xl text-white ">
          <a class="p-4" href={link.href}>
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
