---
// Define the type for NavLink
type NavLink = {
  text: string;
  href: string;
};

// Retrieve `navLinks` from props
const navLinks: NavLink[] = Astro.props.navLinks;
---

<nav
  :class="showNav ? 'max-h-screen opacity-100' : 'max-h-0 opacity-0 overflow-hidden'"
  @click="showNav = false"
  class="static z-100 col-span-2 overflow-auto px-10 shadow-xl rounded-3xl container bg-hippie-blue transition-all duration-300 ease-in-out"
>
  <ul
    class="flex grow-1 flex-col h-full w-full justify-center content-center gap-0 font-display"
  >
    {
      navLinks.map((link) => (
        <li class="text-center uppercase p-4 text-2xl text-white flex hover:text-frost transition-colors">
          <a class="w-full" href={link.href}>
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
