---
interface NavLink {
  text: string;
  href: string;
}

const { navLinks }: { navLinks: NavLink[] } = Astro.props;
---

<nav>
  <ul class="flex space-x-4 font-display uppercase text-xl text-matisse-600">
    {navLinks.map((link) => (
      <li>
        <a href={link.href} class="hover:text-hippie-blue-400 transition-colors hover:transition-colors">{link.text}</a>
      </li>
    ))}
      </ul>
</nav>
