---
// Define the type for NavLink
type NavLink = {
  text: string;
  href: string;
};

// Retrieve `navLinks` from props
const navLinks: NavLink[] = Astro.props.navLinks;
---
<nav class="col-span-2 bg-transparent hidden overflow-auto px-10 shadow-xl rounded-3xl peer-focus:block transition-all">
  <ul class="flex grow-1 flex-col h-full w-full justify-center content-center gap-6">
    {
      navLinks.map((link) => (
        <li class="text-center font-body font-lg">
          <a href={link.href} class="">
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
