---
// Header.astro
interface Props {
	svgClasses?: string;
}

import Logo from './Logo.astro';
const { svgClasses = '' } = Astro.props;
---

<header class="w-full">
	<div class="flex justify-between items-center p-3 md:p-6">
		<Logo svgClasses=`${svgClasses}` />
		<slot />
	</div>
</header>
