---
// Main.astro
---

<main
  class=" overflow-scroll shadow-2xl rounded-3xl bg-hippie-blue-50 no-scrollbar scroll-smooth"
  :class="showNav ? 'opacity-0' : ''"
  x-transition.opacity
  x-ref="mainContainer"
>
  <slot />
</main>
