---
// Navigation.astro
type NavLink = {
  text: string;
  href: string;
};

const navLinks: NavLink[] = Astro.props.navLinks;
---

<nav
  x-show="showNav"
  x-cloak
  x-transition.opacity
  @click="showNav = false"
  :style="navStyle"
  :class="showNav ? '' : 'hidden'"
  class="absolute z-50 overflow-auto px-10 shadow-xl rounded-3xl bg-hippie-blue h-auto"
>
  <ul
    class="flex grow-1 flex-col h-full w-full justify-center content-center gap-0 font-display"
  >
    {
      navLinks.map((link) => (
        <li class="text-center uppercase text-2xl text-white flex hover:text-frost transition-colors">
          <a class="w-full p-4" href={link.href}>
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
