---
// Import necessary components
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";
import Navigation from "../components/Navigation.astro";

// Define the expected props for the layout
interface LayoutProps {
  title: string;
  description: string;
  lang: string;
  navLinks: { text: string; href: string }[];
}

// Destructure props passed to the layout
const { title, description, lang, navLinks } = Astro.props as LayoutProps;
---

<html lang={lang}>
  <Head title={title} description={description} />
  <body class="container mx-auto grid grid-rows-[fit-content(100%)_1fr_fit-content(100%)] grid-cols-[1fr_auto] grid-flow-row gap-0 max-h-screen h-screen">
    <Header svgClasses="h-[38px] md:h-[62px]"/>
    <Navigation navLinks={navLinks} svgClasses="h-[18px] md:h-[29px]"/>
    <Main>
      <slot />
    </Main>
    <Footer />
  </body>
</html>
